## Practical Questions

### 1. Write a code to create a string with your name and print it.

In [3]:
name = "Shivam Kumar"
print(name)

Shivam Kumar

### 2. Write a code to find the length of the string "Hello World".

In [6]:
string = "Hello World"
len(string)

11

### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [11]:
str1 = "Python Programming"
str1[0:3]

'Pyt'

### 4. Write a code to convert the string "hello" to uppercase.

In [17]:
str2 = "hello"
str2.upper()

'HELLO'

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [20]:
str3 = "I like apple"
print(str3)

I like apple

In [28]:
str3.replace("apple","orange")

'I like orange'

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [37]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [6]:
list1 = [1,2,3,4]
print(list1)

[1, 2, 3, 4]

In [8]:
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [11]:
list2 = [1,2,3,4,5]
print(list2)

[1, 2, 3, 4, 5]

In [13]:
list2.remove(3)
print(list2)

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [18]:
list_ = ['a','b','c','d']
list_[1]

'b'

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [21]:
b = [10, 20, 30, 40, 50]
b[::-1]

[50, 40, 30, 20, 10]

### 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [24]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [27]:
colors = ('red', 'green', 'blue', 'yellow')
colors[-2]

'blue'

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [30]:
my_tup = (10, 20, 5, 15)
print(min(my_tup))

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [33]:
pets = ('dog', 'cat', 'rabbit')
pets.index("cat")

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [38]:
fruits = ("Orange", "Mango", "Banana")
"Kiwi" in fruits

False

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [41]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
my_set1 = {1, 2, 3, 4, 5}
print(my_set1)

{1, 2, 3, 4, 5}

In [4]:
my_set1.clear()
print(my_set1)

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [21]:
my_set.remove(4)
print(my_set)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [24]:
a = {1,2,3}
b = {3,4,5}
a | b

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [27]:
a = {1,2,3}
b = {3,4,5}
a & b

{3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [32]:
dic = {"name":"Shivam", "age":21, "city":"Delhi"}
print(dic)

{'name': 'Shivam', 'age': 21, 'city': 'Delhi'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [37]:
dictionary = {'name': 'John', 'age': 25}
print(dictionary)

{'name': 'John', 'age': 25}

In [41]:
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [2]:
set1 = {'name': 'Alice', 'age': 30}
set1["name"]

'Alice'

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [12]:
set2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(set2)

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [14]:
set2.pop("age")
print(set2)

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [19]:
my_set = {'name': 'Alice', 'city': 'Paris'}

In [21]:
"city" in my_set

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [24]:
my_list = {"a","b","c","d"}
my_tuple = ("a","b","c","d")
my_dict = {"a":1,"b":2,"c":3,"d":4}

In [26]:
print(my_list)
print(my_tuple)
print(my_dict)

{'a', 'b', 'c', 'd'}
('a', 'b', 'c', 'd')
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [30]:
num_list = [7,5,23,79,53]

In [32]:
sorted_num = sorted(num_list)
print(num_list)
print(sorted_num)

[7, 5, 23, 79, 53]
[5, 7, 23, 53, 79]

### 28. Write a code to create a list with strings and print the element at the third index.

In [35]:
str_list = ["Orange", "Mango", "Utensils", "Coffee", "Banana"]
print(str_list)

['Orange', 'Mango', 'Utensils', 'Coffee', 'Banana']

In [37]:
print(str_list[2])

Utensils

### 29. Write a code to combine two dictionaries into one and print the result.

In [40]:
dict1 = {"Fruits":["Mango", "Banana", "Orange"], "Vegetables":["Brinjal","Carrot","Brocoli"]}
dict2 = {"Utensils":["Bowl", "Plate", "Knife"], "Books":["Maths","Science","English"]}

In [52]:
comb_dict = (dict1, dict2)
print(comb_dict)

({'Fruits': ['Mango', 'Banana', 'Orange'], 'Vegetables': ['Brinjal', 'Carrot', 'Brocoli']}, {'Utensils': ['Bowl', 'Plate', 'Knife'], 'Books': ['Maths', 'Science', 'English']})

### 30. Write a code to convert a list of strings into a set.

In [57]:
my_list = ["Orange", "Pineapple", "Mango", "Banana", "Orange"]
my_set = set(my_list)

In [59]:
print(my_set)

{'Banana', 'Pineapple', 'Mango', 'Orange'}